*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif; 
}
header h1{
    font-size: 75% larger;
    text-align: center;
    margin: 30px 0 30px ;
}
.container{
    margin: 0 10px 0 10px;
    position: relative;
    width: 100%;
    
}
.child1{
    float: left;
    width: 60%;
}
.child2{
    float: left;
    width:34%;

}

.box1,.box2{
    width: 45%;
    border: #000 1px solid;
    position: relative;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    float: left;
    margin-right: 20px;


}
.box3{
    width:80%;
    border: #000 1px solid;
    position: relative;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #555;
    color: #fff;
    font-size: 16px;   
}

h3{
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 25% larger;
}
.box1 h3{
    color: #000;
    background-color: rgb(22, 209, 87);
}
.box2 h3{
    color: #000;
    background-color: rgb(209, 22, 109);
}.box3 h3{
    color: #000;
    background-color: rgb(203, 209, 22);
}

@media screen and (min-width:768px) and (max-width:991px){
   .child2{
       clear: left;
       width: 100%;
       margin-top:40px ;
       
   }
   .child1{
       width: 100%;
   }
   .box3{
    width:94%;
    border: #000 1px solid;
    position: relative;
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #555;
    color: #fff;
    font-size: 16px;  
   }
}
@media screen and (max-width:767px) {
    .child1{
        float: none;
        width: 100%;
    }
    .child2{
        float: none;
        width: 100%;
    }
    .box1,.box2,.box3{
        float: none;
        width: 80%;
        margin: 20px 40px;


    }
}

